 <div class="row">
        <div class="span8">
          <h3><a class="btn btn-large btn-primary" href="#">知识管理 &raquo;</a></h3>
          <ul>
			<%@articles.each do |article|%>
				<li><%=link_to article.title,article_path(article)%></br>
					<%=raw article.content%>
				</li>
			<%end%>
		  </ul>
        </div>

       

        <div class="span4">
          <h3><a class="btn btn-large btn-primary" href="#">列表</a></h3>
          <ul>
			<li><%=link_to '知识管理',km_path%></li>
			<li><%=link_to 'ruby学习',ruby_path%></li>
			<li><%=link_to 'java学习',java_path%></li>
			<li><%=link_to '脚本学习',js_path%></li>
		  </ul>         
        </div>      
</div>








